@media(min-width: 1200px) {


  #header {
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;

    color: white;

    * { color: white;}
  }

  #projects {
    width: 50%;
    float: right;
  }

  .container {
    width: 100%;
    max-width: 100%;
  }
}

// #header {
//   border: 1px solid red;
// }
