@import 'variables';

.container {
  width: 100%;
  max-width: 1000px;
  overflow-x: auto;
  margin: auto;
  padding: 5px;
  // border: 1px dotted red;
}


#header {
  text-align: center;
}


#projects{
  text-align: center;
}
