@import 'variables';
@import 'layout';
@import 'desktop';

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
  border-bottom: 2px dotted;
  display: inline-block;
  margin: auto;
}

h1 {
  margin-top: 10px;
}

h2 {
  display: block !important;
  margin-left: 2%;
  margin-right: 2%;
}

#projects h1 {
  margin-bottom: 50px;
}

p, span, ul, li {
  font-family: $font-main;
}

a {
  text-decoration: none;
}
a:visited {
  color: blue;
}

p {
  float: clear;
  padding: 10px;
}

p a:hover {
  border-bottom: 2px solid $black;
}

li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
  border-bottom: 2px solid;
}

ul {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

img {
  height: 300px;
  // width: 300px;
  display: inline-block;
  float: left;
  border: 2px solid $black;
}

table.images {
  border: 1 px dotted red;
  float: clear;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.images {
  width: 100%;
  overflow-x: auto;
}
